.partido{
    margin: 0px 0 ;
    width: fit-content;
}       
.partido-title{
    font-size: 1.3em;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}
.partido-title div{
    margin: 0 10px;   
}
.partido-name{
    margin: 0;
}
.minAgoText{
  font-weight: normal;
  margin: 0;
}
.parpadeo{
    animation-name: parpadeo;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{
    0% { opacity: 0}
    1%{ opacity: 1}
    50% { opacity: 1}
    51% {opacity: 0}
    100% {opacity: 0}
  }
  
  @-webkit-keyframes parpadeo {
    0% { opacity: 0}
    1%{ opacity: 1}
    50% { opacity: 1}
    51% {opacity: 0}
    100% {opacity: 0}
  }
  
  @keyframes parpadeo {
    0% { opacity: 0}
    1% { opacity: 1}
    50% { opacity: 1}
    51% {opacity: 0}
    100% {opacity: 0}
  }