.card-partido{
    border: none;
    margin: 7px; 
    padding: 20px 10px 10px 10px;
    box-shadow: 1px 1px 1px white;
    width: 40em;
}

.card-title{
    text-align: center;
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 0;
    padding: 0;
}

.link-ico{
    margin: 5px;
    width: 1em;
    font-size: 1em;
}
.card-body{
    margin: 10px;
    padding: 0;

}