.card-partido{
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 0;
    margin-top: 10px; 
    padding: 10px;
}

.card-title{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: 50px auto 50px; */
    padding: 0; 
    margin: 0;
}
.link-ico{
    margin: 5px;
    width: 1em;
    font-size: 1em;
}
.card-body{
    margin: 10px;
    padding: 0;
}
