.card-partido-houses{
    border: none;
    border-radius: 0;
    margin: 10px auto 5px 10px; 
    padding: 10px 10px 10px 10px;
}
.card-title-houses{
    align-items: center;
    display: grid;
    grid-template-columns: 50px auto 50px;
    margin: 0;
    padding: 0;
}
.link-ico{
    margin: 5px;
    width: 1em;
    font-size: 1em;
}
.card-body-houses{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 2px;
    padding: 0;
    font-size: 14px;
}
.house-cuota{
    display: grid;
    grid-template-columns: 50% 20% 30%;
    margin: 0;
    padding: 0;
}
.home-draw-away{
    align-items: center;
    display: grid;
    grid-template-columns: 75% 25%;
    border: solid 1px rgb(212, 212, 212);
    border-radius: 15px;
    padding: 10px;
    margin: 5px 5px 0;
}
.subs-cuota{
    text-align: center;
    font-size: 1.5em;
}
.eye-ico-houses{
    width: 1.5em;
}