h1 {
  margin: 1rem;
  text-align: center;
}
.matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.partidos-nav {
  padding: .3rem 1rem;
  display: flex;
  justify-content: center;
}
.partidos-nav button {
  min-width: 75px;
}
@media (max-width: 600px) {
  .matches {
    font-size: .8em;
    margin: .4rem;
  }
}