a{
    cursor: pointer;
    color: white;
}
a:visited{
    color:#bcbfc2;
}
a:hover{
    text-decoration: none;
    color: #ffffff;
}
hr{
    border-color: transparent;
}
.switch-routes{
    margin-top: 72px;
}

@media only screen and (max-width: 600px){
    .switch-routes{
        margin-top: 105px;
    }
}
