a{
    cursor: pointer;
    color: white;
}
a:visited{
    color:#bcbfc2;
}
a:hover{
    text-decoration: none;
    color: #ffffff;
}
hr{
    border-color: transparent;
}
.body-layout{
    margin-top: 72px;
    display: flex;
}
.right-bar{
    border-left: 2px solid #121314;
    width: 30%;
    display: block;
    border-bottom: 2px solid #121314;
}
.alerts{
    border-bottom: 2px solid #121314;
    width: 100%;
    padding: 10px;
}
.switch-routes{
    width: 70%;
    min-height: 90vh;
}

@media only screen and (max-width: 600px){
    .body-layout{
        flex-direction: column-reverse;
        margin-top: 124px;
    }
    .alerts{
        display: flex;
        width: 100%;
    }
    .switch-routes{
        width: 100%;
    }
}
