hr{
  margin: 0;
  padding: 0;

}
.aver-high-percent-row {
  display: flex;
}
.aver-high-row{
  width: 80%;
}
.aver-row, .high-row{
  display: flex;
}
.aver-title, .high-title{
  width: 60px;
}
.aver-cuota-list, .high-cuota-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  opacity: 0.8;
}
.percent {
  margin-left: 0px;
  display: flex;
  align-self: center;
  justify-content: right; 
  font-weight: 500; 
}
