hr{
  margin: 0;
  padding: 0;

}
.aver-high-percent-row {
  display: grid;
  grid-template-columns: 70px auto auto;
  grid-template-rows: 1fr 1fr;
}
.aver-title {
  grid-column: 1/2;
  grid-row: 1/2;
}
.high-title {
  grid-column: 1/2;
  grid-row: 2/3;
}
.aver-cuota-list, .high-cuota-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  opacity: 0.8;
  grid-column: 2/3;
  margin: 0;
  padding: 0;
}
.aver-cuota-list {
  grid-row: 1/2;
}
.high-cuota-list {
  grid-row: 2/3;
}
.percent {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  text-align: right;
  justify-content: center; 
  flex-direction: column;
  font-weight: 500; 
}
