.partidos-drop-container{
    display: flex;
    justify-content: center;
} 
.partidos-drop{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
