html{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #252728;  
  color:white;
  /* background: linear-gradient(to top, #A5FECB, #20BDFF, #5433FF); 
  background: -webkit-linear-gradient(to top, #A5FECB, #20BDFF, #5433FF);   */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
