.navi{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #111213;
}
.navi-link{
    display: flex;
    margin: 0 20px;
    padding: 0;
    align-items: center;
}
.navi-link p{
    margin: 0 20px;
}
.chosen p{
    margin: 10px;
    padding: 0;
    color: white;
    font-size: 1.5em;
}
.star img{
    margin: 5px 15px;
    align-self: center;
    height: 50px;
}