hr{
  margin: 0;
  padding: 0;
}
.aver-high-percent-row {
  display: flex;
  flex-wrap: nowrap;
}
.aver-high-row{
  align-self: flex-end;
}
.aver-row, .high-row{
  display: flex;
  align-self: flex-end;
}
.aver-title, .high-title{
  margin-right: 5px;
  width: 60px;

}
.cuota-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}
.percent {
  margin: 0;
  padding: 0;
  align-self: center; 
  font-weight: 500; 
}
