.partido{
    width: 90%;
    margin: .5em;
    border-radius: 3px;
    padding: 1rem;
    border-bottom: 1px solid #bcbfc2;
}       
.partido-title-op{
  display: flex;
  padding: .5rem;
  border-radius: .3rem;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
}
.partido-name-op {
  margin: 0 1rem;
}
.partido-name-op a{
  font-weight: 600;
  display: flex;
  text-align: center;
}
.partido-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partido-data{
  font-size: 0.8em;
}
.aver-high-rows{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.min-ago-group{
  width: 3em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.min-ago-text{
  width: 40px;
  text-align: right;
  margin-right: 2px;
  font-weight: normal;
}
.parpadeo{
  transition: color .3s;
  color: transparent;
}
.partido-op{
  margin-top: .5em;
  padding: .5em;
  border: 1px dotted #bcbfc2;
  border-radius: 3px;

}
.partido-op span{
  margin: 0 1em;
}
.partido-title-eye {
  cursor: pointer;
}